form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: absolute;
    top: 20%;
    right: 39%;
  }
  
  label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  input[type="file"] {
    margin-top: 0.5rem;
  }
  
  input[type="number"],
  select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
  }
  
  button[type="button"] {
    background-color: #f44336;
    color: white;
  }
  
  button:hover {
    opacity: 0.9;
  }
  

  .donebtn{
    width: 4em;
  }